<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
</head>
<body style="background-color: #f0ece3;">
<h1 class="headingmain">Covid 19</h1>
    <button a type="button" class="bt1 btn btn-secondary btn-lg"><a href="https://www.who.int/health-topics/coronavirus#tab=tab_2" style="text-decoration: none; color: white;"><h3>Preventions</h3> <br>
        <i class="fas fa-head-side-mask fa-3x"></a></i>
    </button><br>
    <button a type="button" class="bt2 btn btn-secondary btn-lg"><a href="https://www.who.int/health-topics/coronavirus#tab=tab_3" style="text-decoration: none; color: white;"><h3>Symptoms </h3> <br>
        <i class="fas fa-head-side-cough fa-3x"></a></i>
    </button>
    
    <form action="/plasma" method="GET">
        <button  type="submit" class="bt3 btn btn-secondary btn-lg"><h3>Plasma</h3> <br>
            <i class="fas fa-notes-medical fa-3x"></i>
        </button>
    </form>

    <form action="/" method="GET">
        <button  type="submit" class="bt4 btn btn-secondary btn-lg"><h3>Nearby Hospitals</h3> <br>
            <i class="fas fa-hospital fa-3x"></i>
        </button>
    </form>
    <form action="/covid" method="GET">
        <button  type="submit" class="bt4 btn btn-secondary btn-lg"><h3>Coronavirus Web Screening</h3> <br>
            <i class="fas fa-user-md fa-3x"></i></i>
        </button>
    </form>





    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>    
  <script >
      
  </script>
</body>
</html>