#form{
    width: 45%;
    margin-top: 7rem;
     margin-left: 25%;
      border-radius: 2rem;
}
.heading1{
    margin-left: 27%;
    font-size: 268%;
    margin-top: 5rem;
    margin-bottom: -2rem;
}
@media (min-width: 320px) and (max-width: 768px){

    .heading1{
        margin-left: 8%;
    margin-right: -12rem;
    }
    #form {
        width: 22rem;
        margin-top: 7rem;
        margin-left: 28%;
        border-radius: 2rem;
    }

}