#form{
    width: 22rem;
    margin-top: 7rem;
     margin-left: 33rem;
      border-radius: 2rem;
}
@media (min-width: 320px) and (max-width: 768px){

    #form{
        width: 22rem;
        margin-top: 7rem;
         margin-left: 1rem;
          border-radius: 2rem;
    }
}